# Editors
.ropeproject/
.spyproject/
.vscode/
.idea/
.~*
*~
.virtual_documents/
*journal
.$*
.lsp_symlink

# Linters
.mypy_cache/
.ruff_cache/

# Test
.coverage
.cache
.hypothesis
.pytest_cache/

# Python
*.pyc
*.swp
__pycache__
.ipynb_checkpoints/
__marimo__/
*.egg-info/
build/
dist/

# Environment
.venv/

# data
output/
data/
docs/

# Temp files
temp/
junk*
scratch/

# Experiments
pilot/
old/
experiments/

# Annoying stuff
# Trying to figure out how use local models in editors can be a major pain, so I just
# create a symlink which I do not want to commit to the repository. A BFH for what
# should be easily configurable.
traiter
