<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>Traiter</title>
<style>
{% include 'html_writer.css' -%}
</style>
</head>
<body>
    <h1>Traiter <span>{{ now }}</span></h1>
    <div>{{ text | safe }}</div>

    <table>
        <thead>
            <tr>
                <th>Trait label</th>
                <th>Trait data</th>
            </tr>
        </thead>
        <tbody>
            {% for label, traits in traits.items() %}
            <tr>
                <td>{{ label | safe }}</td>
                <td>{{ traits | safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
