body {
    margin: 100px;
    line-height: 1.4;
    font-size: 18px;
}

h1 > span {
    font-size: 22px;
    float: right;
    margin-right: 12px;
}

table {
    margin-top: 1em;
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    position: sticky;
    top: 0px;
    background-color: #f0f0f0;
}

td, th {
    border: 1px solid #0f0f0f;
    padding: 0.5rem;
    text-align: left;
}

.cc0 { background: #a6cee388; }
.cc1 { background: #1f78b488; }
.cc2 { background: #b2df8a88; }
.cc3 { background: #33a02c88; }
.cc4 { background: #fb9a9988; }
.cc5 { background: #e31a1c88; }
.cc6 { background: #fdbf6f88; }
.cc7 { background: #ff7f0088; }
.cc8 { background: #cab2d688; }
.cc9 { background: #6a3d9a88; }
.cc10 { background: #ffff9988; }
.cc11 { background: #b1592888; }
.cc12 { background: #dddddd88; }
.cc13 { background: #b3b3b388; }
