body {
    margin: 100px;
    line-height: 1.4;
    font-size: 18px;
}

h1 > span {
    font-size: 22px;
    float: right;
    margin-right: 12px;
}

.trait_type {
  border-top: 1px solid black;
  margin-top: 2rem;
}

.raw_label {
  margin-right: 1rem;
}

.raw_text {
  font-size: smaller;
}

.level-1 {
  margin-left: 2rem;
}

.level-2 {
  margin-left: 4rem;
}

.level-3 {
  margin-left: 6rem;
}

.err0 {background: #000000; color: lightsalmon; font-style: normal;}
.err1 {background: #000000; color: lightgreen; font-style: normal;}

.cc0 {background: #A52A2A66; color: black; font-style: normal;}
.cc1  {background: #80800066; color: black; font-style: normal;}
.cc2  {background: #00808066; color: black; font-style: normal;}
.cc3  {background: #00008044; color: black; font-style: normal;}
.cc4  {background: #FF000066; color: black; font-style: normal;}
.cc5  {background: #FFA50066; color: black; font-style: normal;}
.cc6  {background: #FFFF0066; color: black; font-style: normal;}
.cc7  {background: #00FF0066; color: black; font-style: normal;}
.cc8  {background: #00800066; color: black; font-style: normal;}
.cc9  {background: #00FFFF66; color: black; font-style: normal;}
.cc10  {background: #0000FF44; color: black; font-style: normal;}
.cc11  {background: #80008066; color: black; font-style: normal;}
.cc12  {background: #FF00FF66; color: black; font-style: normal;}
.cc13  {background: #80808066; color: black; font-style: normal;}
.cc14  {background: #E6E6FAff; color: black; font-style: normal;}

.cc15  {background: #A52A2A66; color: navy; font-style: italic;}
.cc16  {background: #80800066; color: navy; font-style: italic;}
.cc17  {background: #00808066; color: navy; font-style: italic;}
.cc18  {background: #00008044; color: navy; font-style: italic;}
.cc19  {background: #FF000066; color: navy; font-style: italic;}
.cc20  {background: #FFA50066; color: navy; font-style: italic;}
.cc21  {background: #FFFF0066; color: navy; font-style: italic;}
.cc22  {background: #00FF0066; color: navy; font-style: italic;}
.cc23  {background: #00800066; color: navy; font-style: italic;}
.cc24  {background: #00FFFF66; color: navy; font-style: italic;}
.cc25  {background: #0000FF44; color: navy; font-style: italic;}
.cc26  {background: #80008066; color: navy; font-style: italic;}
.cc27  {background: #FF00FF66; color: navy; font-style: italic;}
.cc28  {background: #80808066; color: navy; font-style: italic;}
.cc29  {background: #E6E6FAff; color: navy; font-style: italic;}
